body {
  color: #10132c;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Inter,sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
