.product {
    margin: 1% 1% 0% 2%;
}

#product_form {
    color: rgba(255, 255, 255, .5);
}

button {
    display: block;
    margin-left: auto;
}

.block{
    display: grid;
}

.nav {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin-right: -50%;
    color: #e04f4f;
}

.nav button {
    float: right;
    margin-right: 1%;
    background-color: #10132C;
}

.btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    background-color: #2d343e;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
}

.required {
    color: red;
}

.validationError {
    color: #f37c7b;
    font-size: 13px;
}

.inputBox {
    padding: 7px;
    display: block;
    border: 1px solid skyblue;
    margin: 20px;
    width: 300px;
}

.inputError {
    box-shadow: 0 0 2px red;
    padding: 7px;
    display: block;
    margin: 20px;
    width: 300px;
}
